In [65]:
library(dplyr)
library(sqldf)
library(janitor)

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

In [2]:
school.data <- read.csv('data_analysis_task.csv') # read in data

In [3]:
nrow(school.data) # check total num_rows

[1] 19055

In [4]:
ncol(school.data) # check total num_columns

[1] 29

In [5]:
colnames(school.data) # display column names

 [1] "FIPST"
 [2] "STABR"
 [3] "LEAID"
 [4] "LEA_NAME"
 [5] "MSTREET_1"
 [6] "MSTREET_2"
 [7] "MSTREET_3"
 [8] "MCITY"
 [9] "MSTATE"
[10] "MZIP"
[11] "MZIP4"
[12] "LSTREET_1"
[13] "LSTREET_2"
[14] "LSTREET_3"
[15] "LCITY"
[16] "LSTATE"
[17] "LZIP"
[18] "LZIP4"
[19] "PHONE"
[20] "LEA_TYPE_TEXT"
[21] "All.Students...American.Indian.Alaska.Native"
[22] "All.Students...Asian"
[23] "All.Students...Black"
[24] "All.Students...Hispanic"
[25] "All.Students...Two.or.More.Races"
[26] "All.Students...Hawaiian.Native...Pacific.Islander"
[27] "All.Students...White"
[28] "All.Students"
[29] "Grant.Amount"

# calculate the percentage of students in each district that are hispanic

In [108]:
str(school.data$All.Students...Hispanic) # data in this col is numeric

 int [1:19055] NA 2546 1211 1081 534 NA 246 711 70 NA ...

In [9]:
# create new column with percent_Hispanic per district
new_school_data <- transform(school.data, perc_hispanic = All.Students...Hispanic / All.Students)

In [122]:
head(data.frame(new_school_data$perc_hispanic), 10)

   new_school_data.perc_hispanic
1          NA
2  0.46741326
3  0.21294180
4  0.07755776
5  0.05114943
6          NA
7  0.12468322
8  0.29761406
9  0.01542190
10         NA

# identify districts that have 50% or more students who are Hispanic

In [119]:
subset(new_school_data, perc_hispanic >= 0.5)[,3:4]

    LEAID  LEA_NAME
239 400005 Salome Consolidated Elementary District
240 400016 Center for Academic Success  Inc.
250 400033 Boys & Girls Clubs of the East Valley dba Mesa Arts Academy
254 400040 STEP UP Schools  Inc.
255 400041 Maricopa County Community College District dba Gateway Early
258 400052 Espiritu Community Development Corp.

# identify districts that receive grants greater than \\$100,000

In [111]:
str(school.data$Grant.Amount) # data in this col is char

 chr [1:19055] "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" ...

In [112]:
# number of rows for which grant.amount data is present
nrow(school.data) - nrow(school.data[school.data$Grant.Amount == '', ])

[1] 1117

In [113]:
# convert to numeric
new_school_data$Grant.Amount <- as.numeric(gsub('[$,]', '', new_school_data$Grant.Amount))

In [13]:
subset(new_school_data, Grant.Amount > 100000)[,3:4]

      LEAID   LEA_NAME
60    100194  Pelham City
128   102040  Lawrence County
178   103480  Washington County
182   200001  Lower Kuskokwim School District
183   200003  Lower Yukon School District
186   200006  Mount Edgecumbe High School Agency
189   200020  Bering Strait School District
197   200130  Galena City School District
198   200150  Ketchikan Gateway Borough School District
199   200180  Anchorage School District
200   200210  Juneau Borough School District
206   200390  Kenai Peninsula Borough School District
208   200480  Kodiak Island Borough School District
210   200510  Matanuska-Susitna Borough School District
215   200600  Fairbanks North Star Borough School District
216   200610  North Slope Borough School District
217   200625  Northwest Arctic Borough School District
224   200710  Southwest Region School District
235   200862  Yukon-Koyukuk School District
246   400023  Pinon Unified District
769   401940  Chinle Unified District
788   402860  Flagstaff Unified District
797   403290  Ganado Unified School District
808   403820  Holbrook Unified District
812   403950  Baboquivari Unified School District #40
835   404970  Mesa Unified District
853   405820  Page Unified District
882   406960  San Carlos Unified District
895   407570  Scottsdale Unified District
912   408340  Tempe Union High School District
⋮     ⋮       ⋮
13833 4010590 EDMOND
13879 4013530 GROVE
13940 4017250 LAWTON
13949 4018000 LOCUST GROVE
13986 4020250 MOORE
13996 4020970 MUSKOGEE
14006 4021720 NORMAN
14019 4022770 OKLAHOMA CITY
14025 4023040 OOLOGAH-TALALA
14029 4023280 OWASSO
14079 4026790 SALLISAW
14093 4027570 SHAWNEE
14096 4027750 SKIATOOK
14109 4028710 STILWELL
14136 4030240 TULSA
14146 4030600 UNION
14197 4033480 YUKON
14320 4106740 Jefferson County SD 509J
14386 4110820 Salem-Keizer SD 24J
15518 4659820 Rapid City Area School District 51-4
15524 4665460 Oglala Lakota County 65-1
15532 4672090 Todd County School District 66-1
17088 4900360 GRANITE DISTRICT
17112 4901080 UINTAH DISTRICT
17868 5304860 Marysville School District
18008 5309480 Wapato School District
18354 5509070 Menominee Indian School District
18579 5602820 Fremont County School District #21
18593 5604450 Fremont County School District #14
18600 5605220 Fremont County School District #25

# provide a summary that shows the number of LEAs in each of the blue cells

In [32]:
new_school_data %>% 
  mutate(category = case_when(
    perc_hispanic >= 0.50 & Grant.Amount > 100000 ~ "greater/equal to 50% Hispanic, large grant",
    perc_hispanic < 0.50 & Grant.Amount > 100000 ~ "less than 50% Hispanic, large grant",
    is.na(perc_hispanic) & Grant.Amount > 100000 ~ "unknown Hispanic, large grant",
    perc_hispanic >= 0.50 & Grant.Amount <= 100000 ~ "greater/equal to 50% Hispanic, little grant",
    perc_hispanic < 0.50 & Grant.Amount <= 100000 ~ "less than 50% Hispanic, little grant",
    is.na(perc_hispanic) & Grant.Amount <= 100000 ~ "unknown Hispanic, little grant",
    perc_hispanic >= 0.50 & is.na(Grant.Amount) ~ "greater/equal to 50% Hispanic, no grant",
    perc_hispanic < 0.50 & is.na(Grant.Amount) ~ "less than 50% Hispanic, no grant",
    is.na(perc_hispanic) & is.na(Grant.Amount) ~ "unknown Hispanic and no grant data",
  )
) -> new_school_data

In [33]:
# using sqldf library
df <- sqldf("SELECT Count(1) as NUM, category FROM new_school_data GROUP BY category")
df

  NUM   category
1     7 greater/equal to 50% Hispanic, large grant
2    60 greater/equal to 50% Hispanic, little grant
3  1605 greater/equal to 50% Hispanic, no grant
4    96 less than 50% Hispanic, large grant
5   932 less than 50% Hispanic, little grant
6 13548 less than 50% Hispanic, no grant
7  2785 unknown Hispanic and no grant data
8    22 unknown Hispanic, little grant

# the following sums will be used to check final table sums

In [91]:
# get sums of grants
sqldf("SELECT SUM(num) AS NUM
FROM (SELECT category, Count(1) as NUM FROM new_school_data GROUP BY category) sub 
WHERE category LIKE '%large%' 
UNION
SELECT SUM(num) AS NUM 
FROM (SELECT category, Count(1) as NUM FROM new_school_data GROUP BY category) sub 
WHERE category LIKE '%little%' 
UNION
SELECT SUM(num) AS NUM
FROM (SELECT category, Count(1) as NUM FROM new_school_data GROUP BY category) sub 
WHERE category LIKE '%no grant%'
")

  NUM
1   103
2  1014
3 17938

In [73]:
# get sums of Hispanic students
sqldf("SELECT SUM(num) AS NUM
FROM (SELECT category, Count(1) as NUM FROM new_school_data GROUP BY category) sub 
WHERE category LIKE '%greater/equal%' 
UNION
SELECT SUM(num) AS NUM 
FROM (SELECT category, Count(1) as NUM FROM new_school_data GROUP BY category) sub 
WHERE category LIKE '%less%' 
UNION
SELECT SUM(num) AS NUM
FROM (SELECT category, Count(1) as NUM FROM new_school_data GROUP BY category) sub 
WHERE category LIKE '%unknown%'
")

  NUM
1  1672
2  2807
3 14576

# reshape data to form specified in Excel doc

In [35]:
df_stats <- list(df['NUM'])

In [94]:
df_reshape <- matrix(unlist(df_stats), nrow = 3, ncol = 3)

Warning message in matrix(unlist(df_stats), nrow = 3, ncol = 3):
“data length [8] is not a sub-multiple or multiple of the number of rows [3]”

In [101]:
# fixing order of unknown column
df_reshape[3,3] <- 2785
df_reshape[1,3] <- 0

In [102]:
df_reshape

     [,1] [,2]  [,3]
[1,]    7    96    0
[2,]   60   932   22
[3,] 1605 13548 2785

In [103]:
final_df <- setNames(data.frame(df_reshape), c('HISPANIC >=50%', '<50%', 'Unknown'))

In [104]:
final_df$`Grand Total` <- rowSums(data.frame(df_reshape))

In [105]:
final_df <- cbind('Grant Size' = c('Grant of>$100,000', 'Grant of<=$100,000', 'No grant'), final_df)

In [106]:
final_df %>% adorn_totals('row')

  Grant Size         HISPANIC >=50% <50%  Unknown Grand Total
1 Grant of>$100,000     7              96    0      103
2 Grant of<=$100,000   60             932   22     1014
3 No grant           1605           13548 2785    17938
4 Total              1672           14576 2807    19055

# Summary

It's clear that very few distacts win "large grants" of more than $100,000. Of these districts, only seven (7) have a student population consisting of at least 50\% Hispanic students. Even the smaller grants are only won by school districts consisting of at least half Hispanic students 6\% of the time. It's also clear that few grants are available to distribute, with only 6\% of schools even winning a grant at all.